name: .NET

env:
  DOTNET_VERSION: '6.0.100'           # set this to the .NET Core version to use
  PACKAGE_VERSION: 1.0.${{ github.run_number }}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration=Release
    - name: Echo
      run: echo ${{ secrets.NUGET_API_KEY }}
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Test command availability
      run: dotnet nuget list source
    - name: Pack
      run: dotnet pack -p:PackageVersion=${{ env.PACKAGE_VERSION }} --configuration=Release
    - name: List
      run: ls -R
    - name: show run id
      run: echo ${{ github.run_id }}